body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Times New Roman', serif;
  font-style: italic;
}

h1 {
  text-align: center;
  margin-top: 50px; /* Augmenter la marge en haut */
  margin-bottom: 50px; /* Réaugmenter la marge après le titre principal */
  color: black;
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; /* Augmenter l'espace entre les aperçus */
}

.preview {
  width: 140%; /* Augmenter la largeur de 20% supplémentaire */
  max-width: 864px; /* Augmenter la largeur maximale de 20% supplémentaire */
  height: 576px; /* Augmenter la hauteur de 20% supplémentaire */
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; /* Ajouter une marge en bas de la dernière fenêtre */
}

.preview-iframe-container {
  flex: 1;
  width: 100%;
}

.preview-title {
  margin-top: 15px;
  font-size: 1.4em;
  color: #333;
  text-align: center;
}

.footer-left {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 1em;
  color: #666;
}

.footer-right {
  position: fixed;
  bottom: 15px;
  right: 80px; /* Ajuster pour que la sidebar prenne toute la hauteur */
  font-size: 1em;
  color: #666;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0; /* Place la sidebar à droite */
  height: 100%;
  width: 40px; /* Élargir légèrement la sidebar */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Les morceaux se touchent */
  z-index: 1000;
}

.sidebar-item {
  flex: 1;
  width: 100%;
  text-align: center;
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  cursor: pointer;
  padding: 7.5px 7.5px; /* Ajouter une marge entre le texte et les bords */
  transition: width 0.3s, font-weight 0.3s;
}

.sidebar-item.active {
  font-weight: bold;
  width: 60px; /* Élargir lorsque mis en évidence */
}
