body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Times New Roman', serif;
  font-style: italic;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-left: 60px; /* Adjust left margin */
  margin-right: 60px; /* Adjust right margin */
}

.preview {
  width: 90%;
  height: calc(100vh - 100px);
  max-height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-iframe-container {
  flex: 1;
  width: 100%;
}

.preview-title {
  margin-top: 15px;
  font-size: 1.4em;
  color: #333;
  text-align: center;
}

.footer-left {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 1em;
  color: #666;
}

.footer-right {
  position: fixed;
  bottom: 15px;
  right: 80px;
  font-size: 1em;
  color: #666;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.sidebar-item {
  flex: 1;
  width: 100%;
  text-align: center;
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  cursor: pointer;
  padding: 10px 5px;
  transition: width 0.3s, font-weight 0.3s, opacity 0.3s;
  opacity: 0.5;
}

.sidebar-item.active {
  font-weight: bold;
  width: 60px;
  opacity: 1;
}

.sidebar-item:not(.active) {
  opacity: 0.5;
}

#mini-previews-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 60px; /* Adjust left and right margins */
  width: calc(100% - 120px); /* Adjust width based on margins */
}

.mini-preview {
  flex: 1;
  margin: 0 10px;
  position: relative;
  width: 200px; /* Set fixed width */
  height: 200px; /* Set fixed height for square shape */
  overflow: hidden; /* Hide overflow */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-preview iframe {
  width: 450px; /* Increase width for more cropping */
  height: 500px; /* Increase height for more cropping */
  transform: translate(-25%, 40%); /* Center the iframe content */
}

.mini-preview-title {
  text-align: center;
  font-size: 1em;
  color: #333;
  margin-top: 10px;
}

.hidden {
  display: none;
}
